<div class="card" style="width: 18rem; margin: 3rem">
    <img
    class="card-img-top"
    [src]="product.imageUrl"
    alt="{{ product.titel }}"
    style="margin: 0%"
    >
    <div class="card-body">
<div class="card-title">
    <h1>{{ product.titel }}</h1>
  </div>
</div>
<div class="card-content">
    <div class="btn-group"
    appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage product (admin only)<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="addToBasket()">Add to basket</a></li>
        <li><a style="cursor: pointer" (click)="onEditProduct()">Edit product (admin only)</a></li>
        <li><a style="cursor: pointer" (click)="onDeleteProduct()">Delete product (admin only)</a></li>
      </ul>
    </div>
  </div>
<div class="card-text">
    {{ product.description }}
  </div>
